.navbar{
    background-color: rgb(60, 205, 164)!important;
}

#card-image{
    height: 2rem;
    width: 3rem;
}

.error{
    color: red;
}

.error-border{
    border-color: red;
}

.flash-error{
    color: red;
}