.navbar{
    background-color: #1cc7d0!important;
}

#card-image{
    height: 2rem;
    width: 3rem;
}

.error{
    color: red;
}

.error-border{
    border: 2px solid red !important;
}

.flash-error{
    color: red;
}


nav li a:hover:not(.active) {
    background-color: aqua;
    color: black;
    border-radius: 10%;
  }
  
.active {
    /* background-color: #2dde98; */
    border-radius: 10%;color: white!important;
}

/* ************* home ****************** */
card-img-top{
    height: 50px;
    width: 50px;
    margin: 2rem;
}


